img {
  max-width: 500px;
  height: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  display: flex;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.project-container {
  margin: 2rem;
  background-color: silver;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 550px;
  overflow: hidden;
}
